.albumImage {
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  
  .albumImage-art {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 1;
    display: block; /* Ensures the image is a block element */
  }
  
  .albumImage-shadow {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Make sure the shadow is behind the image */
    border-radius: 30px; /* Match the rounded corners of the image */
    background-image: url(''); /* Shadow effect background (optional if you prefer to use a solid color or other effects) */
  }
  